// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;

.chat {
  flex: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2px;
  padding: 5px;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  ul {
    list-style-type: none;
    overflow: auto;
    height: 100%;
    padding: 15px;
    padding-bottom: 0;
    width: 100%;
    background-image: radial-gradient(
      circle at 0% 0%,
      #373b52,
      #252736 51%,
      #1d1e26
    );
    li {
      max-width: 45%;
      padding: 6px;
      background: #eee;
      border-radius: 8px;
      margin-bottom: 10px;
      p {
        font-size: 14px;
        color: #4b4f56;
      }
      span {
        color: #90949c;
        font-size: 11px;
      }
      &.same_user {
        background: #80a3c4;
        margin-left: auto;
        p {
          color: #ffffff;
        }
        span {
          color: #ffffff;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  form.inp_holder {
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 2px;
    min-height: 35px;
    background: $input-background;
    input {
      height: 35px;
      flex-grow: 1;
      color: $input-text-active;
      font-size: 0.9rem;
      padding-left: 0.8rem;
      padding-right: 0.3rem;
      border-style: none;
      background: transparent;
      outline: none;
      width: 100%;
      &::-webkit-input-placeholder {
        color: $input-text-inactive;
      }
    }
    button {
      height: 35px;
      display: flex;
      cursor: pointer;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      color: $input-text-inactive;
      font-size: 1.5rem;
      vertical-align: middle;
      transition: color 0.25s;
      &:hover {
        color: $input-text-active;
      }
    }
  }
}
