.online_users {
  border-right: 1px solid #000;
  flex: 25%;
  overflow: auto;
  margin: 2px;
  margin-right: 0;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  h1 {
    font-size: 22px;
    color: #80aeda;
    font-weight: normal;
    text-align: center;
  }
  ul {
    list-style-type: none;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #80a3c4;
      color: #80a3c4;
      padding: 5px;
      &.active {
        &::after {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #14ff14;
        }
      }
    }
  }
}
